.page,
.todoPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.headers {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}
.headers > .heading {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #4f4f4d;
}
.todoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.searchBar {
  width: 70%;
  display: flex;
  align-items: center;
}
.searchBar > input {
  outline: none;
  padding: 0 1%;
  font-family: sans-serif, FontAwesome;
  border: none;
  height: 30px;
  width: 70%;
  font-size: 15px;
  border-bottom: 2px solid lightgray;
  background: none;
}
.toggle {
  padding: 0% 3%;
}
.searchBar > input:focus {
  border-bottom: 2px solid #09d3ac;
}
#check {
  display: none;
}
.toggle > label {
  display: flex;
  flex-flow: row;
  height: 30px;
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.toggle > label > .searchBy::before {
  background: gray;
  color: white;
  content: 'Title';
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  height: 30px;
  width: 60px;
  border-radius: 15px;
}

#check:checked + label {
  flex-flow: row-reverse;
  border: 1px solid #09d3ac;
}

#check:checked + label > .searchBy::before {
  background: #09d3ac;

  color: white;
  content: 'Task';
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 30px;
  width: 60px;
  border-radius: 15px;
}

.logoutBtn {
  width: 20%;
}
.logoutBtn > button {
  width: 100%;
  height: 4vh;
  font-weight: 600;
  border: 2px solid red;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
  color: red;
}
.logoutBtn > button:hover {
  color: white;
  background-color: rgb(253, 94, 94);
  border-color: rgb(253, 94, 94);
}
.todoPage {
  width: 70%;
  margin-top: 7%;
}

.input-box {
  outline: none;
}
.input-box:focus {
  border-color: #09d3ac;
}

.input-box {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 70%;
  border-radius: 5px;
  flex-wrap: wrap;
  font-size: 15px;
  height: 40px;
  padding: 5px;
  margin-bottom: 9px;
  border: 1.5px solid lightgray;
}

.todo-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-items: center;
}
.submit-btn {
  width: 10%;
  margin: 0 auto;
  height: 30px;
  border-radius: 5px;
  border: 1.3px solid #09d3ac;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 10px;
}
.submit-btn:hover {
  background: #09d3ac;
  color: white;
}
.todo-list {
  display: flex;
  margin-top: 8%;
  width: 100%;
  flex-flow: row;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.todos {
  display: flex;
  width: 350px;
  flex-flow: column;
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 24px;
  border: 1px solid #09d3ac;
  border-radius: 5px;
}
.head {
  background: #09d3ac;
  padding: 0 1%;
  padding-left: 2%;
  color: white;
  align-items: center;
  display: flex;
  height: 30px;
  flex-flow: row;
  justify-content: space-between;
}
.head > button {
  color: white;
  border: none;
  padding: 0px;
  font-weight: 700;
  margin: 0px;
  font-size: 17px;
  background-color: transparent;
}
.head > .content {
  display: flex;
  font-weight: 800;
  font-size: 16px;
  padding-bottom: 2px;
  width: 80%;
  border-bottom: 0px;
  transition: border-bottom 4s linear;
  text-transform: capitalize;
}
.head > .content:focus {
  outline: #09d3ac;
}
.head > .content:hover,
.content:focus {
  border-bottom: 1px solid white;
}
.head > .operations {
  width: 15%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head > .operations > .fa-trash:hover {
  color: rgb(215, 49, 49);
}
.head > .operations > .fa-plus-circle:hover {
  color: darkslategrey;
}
.listItems {
  background: white;
  display: flex;
  width: 100%;
  padding: 2% 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex: 1 1 50%;
  height: 2vh;
  width: 98%;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
}
.item > .content {
  display: flex;
  flex-flow: row;
  width: 66%;
  flex: 1 1 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item > .content > .checkBox {
  width: 5%;
}
.item > .content > .label {
  width: 85%;
}

.item > .content > .label:focus {
  outline: white;
}
.item > .content > .label:hover,
.label:focus {
  border-bottom: 1px solid #09d3ac;
  width: 85%;
}

.item > .operations > .fa-trash:hover {
  color: rgb(215, 49, 49);
}
.newTask {
  display: none;
  flex-flow: row;
  width: 96%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding: 5px;
}
.newTask > .input > input {
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 31px;
  border-radius: 5px;
  border: none;
  border: 2px solid lightgray;
  padding-left: 5px;
}
.newTask > .input > input:focus {
  border-color: #09d3ac;
}

.newTask > .input {
  width: 70%;
}

.newTask > .operations {
  display: flex;
  flex-flow: row;
  width: 15%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newTask > .operations > .fa-check {
  font-size: 1.5rem;
}
.newTask > .operations > .fa-check:hover {
  font-size: 1.7rem;
  color: #09d3ac;
}
.newTask > .operations > .fa-times {
  font-size: 1.5rem;
}
.newTask > .operations > .fa-times:hover {
  font-size: 1.7rem;
  color: rgb(215, 49, 49);
}
