.todoPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.todoPage > .heading {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-family: sans-serif;
}
.input-box {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 70%;
  border-radius: 5px;
  flex-wrap: wrap;
  font-size: 15px;
  height: 40px;
  padding: 5px;
  margin-bottom: 9px;
  border: 0.5px solid lightgray;
}

.todo-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-items: center;
}
.submit-btn {
  width: 10%;
  margin: 0 auto;
  height: 30px;
  border-radius: 5px;
  border: 1.3px solid #09d3ac;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 10px;
}
.submit-btn:hover {
  background: #09d3ac;

  color: white;
}
.todo-list {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-flow: row;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.todos {
  display: flex;
  width: 350px;
  flex-flow: column;
  flex-wrap: wrap;
  margin-bottom: 24px;
  border: 1px solid #09d3ac;
  border-radius: 5px;
}
.head {
  background: #09d3ac;
  padding: 5px;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.head > button {
  color: white;
  border: none;
  padding: 0px;
  font-weight: 700;
  margin: 0px;
  font-size: 17px;
  background-color: transparent;
}
.listItems {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex: 1 1 50%;
  width: 98%;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
}
.item > .content {
  display: flex;
  flex-flow: row;
  width: 66%;
  flex: 1 1 50%;
  flex-wrap: wrap;
}
.newTask {
  display: none;
}
