<div class="item">
  <div class="content">
    <div class="checkBox">
      <input
        onclick="sendStatusRequest(event)"
        class="__bucketId__"
        type="checkbox"
        __status__
        id="__taskId__"
      />
    </div>
    <div class="label"><label for="__taskId__">__text__</label></div>
  </div>
  <div class="operations">
    <i
      onclick="sendDeleteTaskRequest(event)"
      class="__bucketId__ fa fa-trash"
      __status__
      id="__taskId__"
      aria-hidden="true"
    ></i>
  </div>
</div>
