<div class="todos">
  <div class="head" id="__bucketId__">
    __title__
    <i
      id="__bucketId__"
      onclick="showNewTaskForm(event)"
      class="fa fa-plus-circle"
      aria-hidden="true"
    ></i>
    <i
      id="__bucketId__"
      onclick="sendDeleteBucketRequest(event)"
      class="fa fa-trash"
      aria-hidden="true"
    ></i>
  </div>
  <div class="listItems" class="item">
    __tasks__
  </div>
  <div id="newTask__bucketId__" class="newTask">
    <div class="input">
      <input id="newTask__bucketId__" name="newTask" type="text" />
    </div>
    <div class="operations">
      <i
        id="__bucketId__"
        onclick="sendSaveNewTaskRequest(event)"
        class="fa fa-check"
        aria-hidden="true"
      ></i>
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
</div>
